################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Linq
/.vs/Linq
/bin/Linq
/bin/Debug/Linq
.vs/CSharpBasics/v16/.suo
*.dll
*.exe
*.pdb
*.dll
bin/Debug/netcoreapp3.1/CSharpBasics.deps.json
bin/Debug/netcoreapp3.1/CSharpBasics.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/CSharpBasics.runtimeconfig.json
.vs/CSharpBasics/DesignTimeBuild/.dtbcache.v2